extends partials/messages.pug
append message
block contenido
    form(action='/', method='POST')
        .container.p-4
            .row
                .col-md-4.mx-auto
                    .card
                        .card-header.text-center
                            h3 Actualizar Contrace単a
                        .card-body
                            .form-row
                                .col-md-12
                                    section.form-gradient
                                        .md-form
                                            i#icoPasswordOld.fas.fa-user.prefix.mt-1
                                            input#PasswordOld.form-control.orden(type='password',name='password_old'  )
                                            label#lbPasswordOld(for='PasswordOld') Antigua Contrace単a 
                                .col-md-12
                                    section.form-gradient
                                        .md-form
                                            i#icoPasswordNew.fas.fa-user.prefix.mt-1
                                            input#PasswordNew.form-control.orden(type='password',name='password_new'  )
                                            label#lbPasswordNew(for='PasswordNew') Nueva Contrace単a
                                .col-md-12
                                    section.form-gradient
                                        .md-form
                                            i#icoPasswordConfirm.fas.fa-user.prefix.mt-1
                                            input#PasswordConfirm.form-control.orden(type='password',name='password_confirm'  )
                                            label#lbPasswordConfirm(for='PasswordConfirm') Confirmar Contrace単a
                        .card-footer
                            .d-flex.justify-content-center
                                button#btnSend.btn.btn-success.rounded-pill(type='submit') Guardar