extends partials/messages.pug
append message
block contenido
    .container.p-4
        .row
            .col-md-4.mx-auto
                .card.text-center
                    .card-body
                        h3 Registro Completo
                        a.btn.btn-success.m-4(href='/profile') ir a perfil
