extends partials/messages.pug
append message
block contenido
    main.index
        header.masthead.d-flex
            .container.text-center.my-auto
                h1.mb-1 Autolinea
                h3.mb-5
                    em Sistema de Ordenes
                a.btn.btn-primary.btn-lg(href='/signin')
                    | Ir a perfil
            .overlay
