doctype 5
html(lang='es')
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        title 404 Pagina no Encontrada
        // Google font
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet")
        // Custom stlylesheet
        link(href='lib/Bootstrap 4.3.1/css/bootstrap.min.css',rel='stylesheet')
        link(type="text/css" rel="stylesheet" href="css/estilo_404.css")
        link(rel='stylesheet', href='css/estiloPagina.css', type='text/css')
        link(rel="icon" href="img/favicon.ico")
    body
        #notfound
            .notfound.text-light
                .notfound-404.pb-6
                    h1.noselect 404
                h2.pt-3.mb-1 Oops! No se pudo encontrar esta página
                p Lo sentimos, pero la página que busca no existe, se ha eliminado. nombre cambiado o no está disponible temporalmente
                //a(href="#") Ir a la página de inicio
                a.btn.btn-primary(href="/") Ir a la página de inicio
                hr
                p.text-light Notifique este mensage al desarrollador 
                .font-italic Email: jgcuelap@gmail.com
                hr
                p MENSAGE
                p #{error}
    footer
        hr.mb-1
        .text-center.noselect
            p.m-0 Autolinea 2019
            spam.font-italic Email: jgcuelap@gmail.com
