                            p3 Detalles de orden 
                            .form-row
                                .form-group.col-md-6
                                    label Hora de Ingreso
                                    input.form-control(type='time', name='hora_ingreso')
                                .form-group.col-md-6
                                    label Fecha y hora estimada de diagnostico
                                    input.form-control(type='datetime-local', name='fecha_hora_estimada_diagnostico')
                            .form-group
                                label Fecha y hora estimada de entrega
                                input.form-control(type='datetime-local', name='fecha_hora_estimada_entrega')